body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh; /* Asegura que el fondo cubra toda la vista */
    transition: background-image 0.5s ease;
}

h1 {
    color: black;
    margin-top: 20px;
}

p {
    color: black;
    font-size: 25px;
}

.controles {
    display: flex;
    gap: 30px;
    padding: 20px;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.color-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-input label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="color"] {
    width: 80px;
    height: 40px;
    padding: 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.css-output {
    width: 90%;
    max-width: 600px;
    margin-top: 20px;
    text-align: center;
}

textarea {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: none;
    font-family: monospace;
    font-size: 14px;
}